<div class="container ">
    <div class="row">
        <div class="col">
            <div class="my-5 ">
                <h1 class="my-5 text-secondary">Interval</h1>

                <h5 class="text-success fw-bold">Interval & Timer Example</h5>
                <p class="text-danger">Here delay time is 5 second and Interval is 1 second ,<br>  after the 10 subscription the interval will stop to count </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    user_1
                </div>
                <div class="card-body">
                    <ul id="elContainer3">
                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>