<div class="container">
    <div class="row">
        <div class="col">
            <div class="my-5 ">
                <h1>From Event </h1>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    Add video
                </div>
                <div class="card-body">
                    <button #addBtn class="btn btn-primary"> Add</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    List
                </div>
                <div class="card-body">
                    <ul id="elContainer">
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    List
                </div>
                <div class="card-body">
                    <ul id="elContainer2">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>