<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ul class="list">
                <li>
                    <a routerLink="form-event">Form-event </a>
                </li>
                <li>
                    <a routerLink="interval">InterVal </a>
                </li>
                <li>
                    <a routerLink="form-event">form-event </a>
                </li>
                <li>
                    <a routerLink="form-event">form-event </a>
                </li>
            </ul>
        </div>
    </div>
</div>
